* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    width: 5px;
    border-radius: 999px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: $mediumGrey;
    border-radius: 999px;
    outline: 1px solid slategrey;
}

p {
    margin: 0;
    font-family: roboto-light;
    letter-spacing: 1px;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: roboto-bold;
    color: white;
    letter-spacing: 1px;
}

.dark-screen {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.767);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.dark-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background-color: rgba(0, 0, 0, 0.767);
    background-color: rgba(185, 83, 83, 0.767);
}
