@font-face {
    font-family: roboto-light;
    src: url(../../assets/fonts/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(../../assets/fonts/RobotoCondensed-Regular.ttf);
}


@font-face {
    font-family: roboto-bold;
    src: url(../../assets/fonts/RobotoCondensed-Bold.ttf);
}