$darkGrey: #111111;
$mediumGrey: #292929;
$lightGrey: #bdbdbd;
$mainClr: #1DB954;

$lightBorder: #bdbdbd;
$mediumGreyText: #909090;
$muteOnMediumGrey: #5d5d5d;


$fastTransition: 0.3s ease-in-out;

//Breakpoint

$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$wide-breakpoint: 1366px;